<mat-toolbar class="p-4" style="min-height:72px;" color="primary">
  <button class="p-4" mat-button>
    <span style="font-weight: bolder; font-size: xx-large;">Logisk</span>
  </button>
  <div style="flex-grow: 1; display: flex; justify-content: center;">
    <button mat-stroked-button class="p-4 nav-button">Orders</button>
    <button mat-stroked-button class="p-4 nav-button">Locations</button>
    <button mat-stroked-button class="p-4 nav-button">Account</button>
  </div>
  <button mat-icon-button><mat-icon>logout</mat-icon></button>
</mat-toolbar>
