<app-client-header></app-client-header>
<div class="flex-wrapper">
  <div>
    <button mat-stroked-button class="m-4 p-4" color="primary" style="font-size: x-large">
      <mat-icon fontIcon="add"></mat-icon>
      Create new order
    </button>
  </div>
    <div class="orders-list ms-4 mb-4">
      <div class="order-item me-4">
        <mat-card>
          <mat-card-content>
            <div class="mb-2" style="display: flex; justify-content: space-between;">
              <div class="pb-1" style="font-size: x-large;">
                Order name
              </div>
              <div class="p-1" style="background: #F8F3D4; border-radius: 4px; font-size: small; font-weight: lighter">
                Created
              </div>
            </div>
            <hr>
            <div>
              Type: some type
            </div>
            <hr>
            <div>
              From: location1
            </div>
            <div>
              To: location2
            </div>
            <hr>
            <div>
              Deadline: 01.01.2003
            </div>
            <hr>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-flat-button color="accent" style="font-size: small">Cancel</button>
            <button class="ms-2" mat-flat-button color="primary" style="font-size: small">Open</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="order-item me-4">
        <mat-card>
          <mat-card-content>
            <div class="mb-2" style="display: flex; justify-content: space-between;">
              <div class="pb-1" style="font-size: x-large;">
                Order name
              </div>
              <div class="p-1" style="background: #FFDE7D; border-radius: 4px; font-size: small; font-weight: lighter">
                Accepted
              </div>
            </div>
            <hr>
            <div>
              Type: some type
            </div>
            <hr>
            <div>
              From: location1
            </div>
            <div>
              To: location2
            </div>
            <hr>
            <div>
              Deadline: 01.01.2003
            </div>
            <hr>
          </mat-card-content>
          <mat-card-actions align="end">
            <button class="ms-2" mat-flat-button color="primary" style="font-size: small">Open</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="order-item me-4">
        <mat-card>
          <mat-card-content>
            <div class="mb-2" style="display: flex; justify-content: space-between;">
              <div class="pb-1" style="font-size: x-large;">
                Order name
              </div>
              <div class="p-1" style="background: #F6416C; border-radius: 4px; font-size: small; font-weight: lighter">
                Delivered
              </div>
            </div>
            <hr>
            <div>
              Type: some type
            </div>
            <hr>
            <div>
              From: location1
            </div>
            <div>
              To: location2
            </div>
            <hr>
            <div>
              Deadline: 01.01.2003
            </div>
            <hr>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-flat-button color="warn" style="font-size: small">Delete</button>
            <button class="ms-2" mat-flat-button color="primary" style="font-size: small">Open</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="order-item me-4">
        <mat-card>
          <mat-card-content>
            <div class="mb-2" style="display: flex; justify-content: space-between;">
              <div class="pb-1" style="font-size: x-large;">
                Order name
              </div>
              <div class="p-1" style="background: #F6416C; border-radius: 4px; font-size: small; font-weight: lighter">
                Delivered
              </div>
            </div>
            <hr>
            <div>
              Type: some type
            </div>
            <hr>
            <div>
              From: location1
            </div>
            <div>
              To: location2
            </div>
            <hr>
            <div>
              Deadline: 01.01.2003
            </div>
            <hr>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-flat-button color="warn" style="font-size: small">Delete</button>
            <button class="ms-2" mat-flat-button color="primary" style="font-size: small">Open</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="order-item me-4">
        <mat-card>
          <mat-card-content>
            <div class="mb-2" style="display: flex; justify-content: space-between;">
              <div class="pb-1" style="font-size: x-large;">
                Order name
              </div>
              <div class="p-1" style="background: #F6416C; border-radius: 4px; font-size: small; font-weight: lighter">
                Delivered
              </div>
            </div>
            <hr>
            <div>
              Type: some type
            </div>
            <hr>
            <div>
              From: location1
            </div>
            <div>
              To: location2
            </div>
            <hr>
            <div>
              Deadline: 01.01.2003
            </div>
            <hr>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-flat-button color="warn" style="font-size: small">Delete</button>
            <button class="ms-2" mat-flat-button color="primary" style="font-size: small">Open</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="order-item me-4">
        <mat-card>
          <mat-card-content>
            <div class="mb-2" style="display: flex; justify-content: space-between;">
              <div class="pb-1" style="font-size: x-large;">
                Order name
              </div>
              <div class="p-1" style="background: #F6416C; border-radius: 4px; font-size: small; font-weight: lighter">
                Delivered
              </div>
            </div>
            <hr>
            <div>
              Type: some type
            </div>
            <hr>
            <div>
              From: location1
            </div>
            <div>
              To: location2
            </div>
            <hr>
            <div>
              Deadline: 01.01.2003
            </div>
            <hr>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-flat-button color="warn" style="font-size: small">Delete</button>
            <button class="ms-2" mat-flat-button color="primary" style="font-size: small">Open</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="order-item me-4">
        <mat-card>
          <mat-card-content>
            <div class="mb-2" style="display: flex; justify-content: space-between;">
              <div class="pb-1" style="font-size: x-large;">
                Order name
              </div>
              <div class="p-1" style="background: #F6416C; border-radius: 4px; font-size: small; font-weight: lighter">
                Delivered
              </div>
            </div>
            <hr>
            <div>
              Type: some type
            </div>
            <hr>
            <div>
              From: location1
            </div>
            <div>
              To: location2
            </div>
            <hr>
            <div>
              Deadline: 01.01.2003
            </div>
            <hr>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-flat-button color="warn" style="font-size: small">Delete</button>
            <button class="ms-2" mat-flat-button color="primary" style="font-size: small">Open</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  <app-client-footer class="mt-auto"></app-client-footer>
</div>
