.orders-list {
  display: flex;
  flex-wrap: wrap;
}

.order-item {
  flex: 0 0 auto;
  width: 100%;
  max-width: 300px;
  margin-bottom: 16px;
}

.flex-wrapper {
  display: flex;
  min-height: -webkit-calc(100vh - 72px);
  flex-direction: column;
  justify-content: space-between;
}
