<app-driver-header></app-driver-header>
<div class="flex-wrapper">
  <div class="orders-list m-4">
    <div *ngFor="let order of orders">
      <div class="order-item me-4">
        <mat-card>
          <mat-card-content>
            <div class="mb-2" style="display: flex; justify-content: space-between;">
              <div class="pd-1 single-line" style="font-size: x-large;" title= '{{order.name}}'>
                {{order.name}}
              </div>
              <div *ngIf="order.status === 'CREATED'" class="p-1"
                   style="background: #F8F3D4; border-radius: 4px; font-size: small; font-weight: lighter">
                Створено
              </div>
              <div *ngIf="order.status === 'ACCEPTED'" class="p-1"
                   style="background: #FFDE7D; border-radius: 4px; font-size: small; font-weight: lighter">
                Прийнято
              </div>
              <div *ngIf="order.status === 'DELIVERING'" class="p-1"
                   style="background: #62C3A4; border-radius: 4px; font-size: small; font-weight: lighter">
                В дорозі
              </div>
              <div *ngIf="order.status === 'FINISHED'" class="p-1"
                   style="background: #5A98D1; border-radius: 4px; font-size: small; font-weight: lighter">
                Доставлено
              </div>
              <div *ngIf="order.status === 'CANCELED'" class="p-1"
                   style="background: #E07272; border-radius: 4px; font-size: small; font-weight: lighter">
                Скасовано
              </div>
            </div>
            <hr>
            <div *ngIf="order.type === 'MATERIALS'">
              Тип: Матеріали
            </div>
            <div *ngIf="order.type === 'PRODUCTS'">
              Тип: Продукти
            </div>
            <div *ngIf="order.type === 'FRAGILE'">
              Тип: Крихкий вантаж
            </div>
            <div *ngIf="order.type === 'DANGER'">
              Тип: Небезпечний вантаж
            </div>
            <div *ngIf="order.type === 'OTHER'">
              Тип: Інше
            </div>
            <hr>
            <div>
              Від: {{order.locationFrom.address}}
            </div>
            <div>
              До: {{order.locationTo.address}}
            </div>
            <hr>
            <div>
              Срок: {{convertDate(order.deliverDueTime)}}
            </div>
            <hr>
          </mat-card-content>
          <mat-card-actions style="display: flex; justify-content: center;">
            <button (click)="setOrderCanceled(order.id)" *ngIf="order.status === 'ACCEPTED'" mat-icon-button color="accent" style="font-size: small;">
              <mat-icon>cancel</mat-icon>
            </button>
            <button (click)="setOrderCanceled(order.id)" *ngIf="order.status === 'FINISHED'" mat-flat-button color="accent" style="font-size: small; width: 100%">
              <mat-icon>delete</mat-icon>
              Видалити
            </button>
            <button (click)="setOrderDelivering(order.id)" *ngIf="order.status === 'ACCEPTED'" class="ms-2" color="primary" mat-flat-button style="font-size: small; width: 100%">
              <mat-icon>navigation</mat-icon>
              В дорогу
            </button>
            <button (click)="setOrderFinished(order.id)" *ngIf="order.status === 'DELIVERING'"  mat-flat-button style="font-size: small; background: #5A98D1; color: #FFFFFF; width: 100%">
              <mat-icon>timeline</mat-icon>
              Доставив одержувачу
            </button>
            <button mat-icon-button *ngIf="order.status != 'CREATED' " class="ms-2" (click)="openOrderDetails(order.id)">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </mat-card-actions>

        </mat-card>
      </div>
    </div>
  </div>
  <app-driver-footer></app-driver-footer>
</div>
