<app-driver-header></app-driver-header>
<div class="flex-wrapper">
  <div class="details-box" *ngIf="order">
    <div style="width: 500px; overflow-y: hidden;">
      <div class="justify-content-center">
        <h1>Доставка №{{order.id}}</h1>
        <div class="mt-1">
          <mat-form-field style="width: 100%" appearance="fill">
            <mat-label>Назва</mat-label>
            <input readonly matInput [value]="order.name">
          </mat-form-field>
        </div>
        <h2>Параметри вантажу:</h2>
        <div style="display: flex; justify-content: space-between">
          <div style="flex: 0 0 32%; max-width: 32%;">
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Довжина, см.</mat-label>
              <input readonly matInput [value]="order.length.toString()">
            </mat-form-field>
          </div>
          <div style="flex: 0 0 32%; max-width: 32%;">
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Ширина, см.</mat-label>
              <input readonly matInput [value]="order.width.toString()">
            </mat-form-field>
          </div>
          <div style="flex: 0 0 32%; max-width: 32%;">
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Висота, см.</mat-label>
              <input readonly matInput [value]="order.height.toString()">
            </mat-form-field>
          </div>
        </div>
        <div style="display: flex; justify-content: space-between">
          <div style="flex: 0 0 49%; max-width: 49%;">
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Вага, кг.</mat-label>
              <input readonly matInput [value]="order.weight.toString()">
            </mat-form-field>
          </div>
          <div style="flex: 0 0 49%; max-width: 49%;">
            <mat-form-field style="width: 100%;" appearance="fill">
              <mat-label>Тип вантажу</mat-label>
              <input readonly matInput [value]="getOrderTypeLocale(order.type)">
            </mat-form-field>
          </div>
        </div>

        <h2>Час створення та срок доставки:</h2>
        <div style="display: flex; justify-content: space-between">
          <div style="flex: 0 0 49%; max-width: 49%;">
            <mat-form-field appearance="fill" style="overflow: visible; width: 100%;">
              <mat-label>Остання зміна:</mat-label>
              <input readonly style="overflow: visible;" matInput type="datetime-local"
                     [value]="getDateFromNumber(order.createdTime)">
            </mat-form-field>
          </div>
          <div style="flex: 0 0 49%; max-width: 49%;">
            <mat-form-field appearance="fill" style="overflow: visible; width: 100%;">
              <mat-label>Термін доставки, до:</mat-label>
              <input readonly style="overflow: visible;" matInput type="datetime-local"
                     [value]="getDateFromNumber(order.deliverDueTime)">
            </mat-form-field>
          </div>
        </div>

        <h2>Місце відправки та прибуття:</h2>
        <div>
          <mat-form-field style="width: 100%;" appearance="fill">
            <mat-label>Доставити з</mat-label>
            <input readonly style="overflow: visible;" matInput [value]="order.locationFrom.address">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field style="width: 100%;" appearance="fill">
            <mat-label>Доставити до</mat-label>
            <input readonly style="overflow: visible;" matInput [value]="order.locationTo.address">
          </mat-form-field>
        </div>
      </div>

      <h2>Оплата:</h2>
      <div>
        <mat-form-field style="width: 100%;" appearance="fill">
          <mat-label>Оплата за доставку</mat-label>
          <input readonly matInput [value]="order.deliveryPrice.toString()">
        </mat-form-field>
      </div>

      <div *ngIf="client">
        <h2>Деталі про клієнта:</h2>
        <div>
          <mat-form-field style="width: 100%;" appearance="fill">
            <mat-label>Ім'я водія</mat-label>
            <input readonly matInput [value]="client.name">
          </mat-form-field>
        </div>
        <div style="display: flex; justify-content: space-between">
          <div style="flex: 0 0 39%; max-width: 39%;">
            <mat-form-field style="width: 100%;" appearance="fill">
              <mat-label>Номер телефону:</mat-label>
              <input readonly matInput [value]="client.phoneNumber">
            </mat-form-field>
          </div>
          <div style="flex: 0 0 59%; max-width: 59%;">
            <mat-form-field style="width: 100%;" appearance="fill">
              <mat-label>Електронна пошта:</mat-label>
              <input readonly matInput [value]="client.email">
            </mat-form-field>
          </div>
        </div>
        <div>
        </div>
      </div>
      <div style="display: flex; justify-content: right;">
        <div>
          <button mat-raised-button color="accent" (click)="closeWindow()">
            <mat-icon>close</mat-icon>
            Закрити
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-driver-footer class="mt-auto"></app-driver-footer>
</div>
