<mat-toolbar class="p-4" style="min-height: 72px;" color="primary">
  <button class="p-4" style="font-weight: bolder; font-size: xx-large;" mat-button>
    <mat-icon>local_shipping</mat-icon>
    Logisk Driver
  </button>
  <div style="flex-grow: 1; display: flex; justify-content: end;">
    <div class="nav-buttons-group">
      <button mat-stroked-button (click)="navigateNewOrders()" class="p-4 m-3 nav-button">
        <mat-icon>fiber_new</mat-icon>
        Нові замовлення
      </button>
      <button mat-stroked-button (click)="navigateOrders()" class="p-4 m-3 nav-button">
        <mat-icon>notifications</mat-icon>
        Активні доставки
      </button>
      <button mat-stroked-button (click)="navigateTransport()" class="p-4 m-3 nav-button">
        <mat-icon>directions_car</mat-icon>
        Транспорт
      </button>
    </div>
  </div>
  <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center">
    <div class="me-2">
      Баланс: {{driverBalance}}₴
    </div>

    <div>
      <button mat-flat-button>
        <mat-icon>local_atm</mat-icon>
        Вивести
      </button>
    </div>
  </div>
  <div>
    <button mat-icon-button (click)="logout()"><mat-icon>logout</mat-icon></button>
  </div>
</mat-toolbar>
