/* You can add global styles to this file, and also import other style files */
*:not(mat-icon){
  font-family: 'Urbanist', sans-serif !important;
}

@font-face {
  font-family: 'Urbanist';
  src: url("assets/fonts/urbanist/Urbanist-Regular.ttf");
}

@font-face {
  font-family: 'Urbanist-Bold';
  src: url("assets/fonts/urbanist/Urbanist-Bold.ttf");
}

@font-face {
  font-family: 'Urbanist-Bold';
  src: url("assets/fonts/urbanist/Urbanist-Bold.ttf");
}

@font-face {
  font-family: 'Urbanist-Medium';
  src: url("assets/fonts/urbanist/Urbanist-Medium.ttf");
}

@font-face {
  font-family: 'Urbanist-Thin';
  src: url("assets/fonts/urbanist/Urbanist-Thin.ttf");
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-button-toggle.mat-button-toggle-checked {
  background-color: #009688;
  color: white;
}
